<div class="w-full flex flex-col gap-4 text-slate-700">
    <div class="w-full bg-white rounded-lg p-6 shadow-sm text-xs">
      <div class="uppercase font-semibold mb-1 text-sm">Transaction info</div>
      <div class="text-slate-500">0x2e51eedc0bcb59f7cbe2f2f54c4e87e4feae4dc7f603fe1f99cab2bc429e2eb4</div>
    </div>
    <div class="w-full flex flex-row gap-4">
        <div class="w-7/12 bg-white p-6 rounded-lg shadow-sm flex flex-col">
            <app-card-header [isCollapseVisible]="false" title="User details"></app-card-header>
            <div class="flex flex-col gap-y-2 text-xs">
                <div class="mt-4 uppercase font-semibold">Known wallets</div>
                <div>0xE35D9A6618270d57CCF369AAE68ABC995D7A5ef6</div>
                <div>0xCddF6308143Da5FF1BF47CD5745e2D963E3a09cA</div>
            </div>
        </div>
        <div class="w-5/12 bg-white p-6 rounded-lg shadow-sm">
            <app-card-header [isCollapseVisible]="false" title="Device info"></app-card-header>
        </div>
    </div>
    
</div>