<div class="w-full h-full text-xs">


    <div class="max-w-7xl w-full bg-white rounded-lg p-8">
        <div class="flex mb-2 items-center flex-row gap-x-2 text-indigo-700 uppercase font-semibold">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                <path fill-rule="evenodd" d="M8.25 6.75a3.75 3.75 0 117.5 0 3.75 3.75 0 01-7.5 0zM15.75 9.75a3 3 0 116 0 3 3 0 01-6 0zM2.25 9.75a3 3 0 116 0 3 3 0 01-6 0zM6.31 15.117A6.745 6.745 0 0112 12a6.745 6.745 0 016.709 7.498.75.75 0 01-.372.568A12.696 12.696 0 0112 21.75c-2.305 0-4.47-.612-6.337-1.684a.75.75 0 01-.372-.568 6.787 6.787 0 011.019-4.38z" clip-rule="evenodd" />
                <path d="M5.082 14.254a8.287 8.287 0 00-1.308 5.135 9.687 9.687 0 01-1.764-.44l-.115-.04a.563.563 0 01-.373-.487l-.01-.121a3.75 3.75 0 013.57-4.047zM20.226 19.389a8.287 8.287 0 00-1.308-5.135 3.75 3.75 0 013.57 4.047l-.01.121a.563.563 0 01-.373.486l-.115.04c-.567.2-1.156.349-1.764.441z" />
              </svg>
              
            <div>User Sessions</div>
        </div>
        <div class="w-full flex flex-row justify-between items-center
         border-b border-slate-50 p-4 uppercase font-medium">
            <div class="flex flex-row gap-x-8 text-slate-500">
                <div class="flex flex-row gap-x-2">
                    <input [formControl]="hidePassive" type="checkbox">
                    Hide passive sessions
                </div>
                <div class="flex flex-row gap-x-2">
                    <input [formControl]="onlyErrors" type="checkbox">
                    Show only sessions with errors
                </div>
            </div>
            <div class="w-[26rem] flex flex-row items-center border border-slate-50 pl-4 rounded-lg">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                  </svg>                  
                <input [formControl]="walletSearch" class="w-full  outline-none rounded-lg py-4 pr-8 pl-2" 
                    placeholder="Search by wallet" type="text">
            </div>
        </div>
        <div *ngIf="sessions$ | async as sessions; else loading" class="flex flex-col w-full overflow-hidden">
            <div class="flex flex-row text-xs py-4 font-semibold uppercase px-6">
                
                <div class="w-1/12">
                    Session started
                </div>
                <div class="w-1/12 pl-4">
                    OS
                </div>
                <div class="w-1/12">
                    Country
                </div>
                <div class="w-1/12 text-center">
                    Provider
                </div>
                <div class="w-1/12 text-center">
                    Browser
                </div>
                <div class="w-1/12 text-center">
                    Wallet Connected
                </div>
                <div class="w-1/12 text-center">
                    Signed <br> Tx
                </div>

                <div class="w-3/12 flex flex-row pl-8">
                    Wallets Used <br> During Session
                </div>
                <div class="w-2/12 pl-4">
                    Notes
                </div>
            </div>
            <div class="flex flex-row items-center w-full
            hover:bg-slate-50 cursor-pointer px-6
             py-2 border-t border-slate-50" *ngFor="let session of sessions"
              [routerLink]="session.sessionId" [state]="session" 
              [class.bg-orange-50]="session.totalErrorEventCount !== 0"
              [class.border-t-2]="session.totalErrorEventCount !== 0"
              [class.border-orange-100]="session.totalErrorEventCount !== 0"
              >
              
                <div class="w-1/12 flex flex-col gap-x-2">
                    <div class="text-xs atext-indigo-400">{{session.firstEventDateTime.toLocaleTimeString()}}</div>
                    <div class="text-sm font-semibold text-indigo-800">{{session.firstEventDateTime.toLocaleDateString()}}</div>    
                </div>
                <div class="w-1/12 pl-4">{{session.devices.at(0)?.os}}</div>
                <div class="w-1/12 flex flex-row gap-x-2 text-[10px] uppercase font-medium">
                    <app-icon-item-holder type="country" [iconQuery]="session.devices.at(0)?.country"></app-icon-item-holder>
                    {{session.devices.at(0)?.country}}
                </div>
                <div class="w-1/12 flex flex-row justify-center">
                    <app-icon-item-holder type="provider" [iconQuery]="session.devices.at(0)?.walletProvider"></app-icon-item-holder>
                </div>
                <div class="w-1/12 flex flex-row justify-center">
                    <app-icon-item-holder type="browser" [iconQuery]="session.devices.at(0)?.browser"></app-icon-item-holder>
                </div>
                
                <div class="w-1/12 flex flex-row justify-center">
                    <svg *ngIf="session.hasConnectedWallet" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 text-indigo-600">
                        <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                    </svg>
                    <svg *ngIf="!session.hasConnectedWallet" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 text-slate-500">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path fill-rule="evenodd" d="M6.72 5.66l11.62 11.62A8.25 8.25 0 006.72 5.66zm10.56 12.68L5.66 6.72a8.25 8.25 0 0011.62 11.62zM5.105 5.106c3.807-3.808 9.98-3.808 13.788 0 3.808 3.807 3.808 9.98 0 13.788-3.807 3.808-9.98 3.808-13.788 0-3.808-3.807-3.808-9.98 0-13.788z" clip-rule="evenodd" />
                          </svg>
                          
                    </svg>
                      
                </div>
                <div class="w-1/12 text-center flex flex-row justify-center">
                    <svg *ngIf="session.hasExecutedTransaction" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 text-indigo-600">
                        <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                    </svg>
                    <svg *ngIf="!session.hasExecutedTransaction" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 text-slate-500">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path fill-rule="evenodd" d="M6.72 5.66l11.62 11.62A8.25 8.25 0 006.72 5.66zm10.56 12.68L5.66 6.72a8.25 8.25 0 0011.62 11.62zM5.105 5.106c3.807-3.808 9.98-3.808 13.788 0 3.808 3.807 3.808 9.98 0 13.788-3.807 3.808-9.98 3.808-13.788 0-3.808-3.807-3.808-9.98 0-13.788z" clip-rule="evenodd" />
                          </svg>                          
                    </svg>
                </div>
                
               
                <div class="w-3/12 flex scrollbar-none flex-row overflow-x-auto gap-2 text-[10px] font-medium pl-8">
                    <div class="py-1 px-4 rounded-md bg-indigo-50" *ngFor="let wallet of session.walletAddresses">
                        {{wallet | shorten}}
                    </div>
                    <div class="py-1 px-4 rounded-md bg-red-50 text-orange-600" *ngIf="session.walletAddresses.length === 0">
                        No Wallets
                    </div>
                </div>

                <div class="w-2/12 flex flex-row justify-start pl-4">
                    <div class="flex flex-row uppercase text-red-500 font-semibold text-[10px] items-center gap-x-2" *ngIf="session.totalErrorEventCount !== 0">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                        </svg>                          
                        Session had errors
                    </div>
                </div>
            </div>
            <div class="w-full mt-8 py-3 text-xs uppercase font-medium
                bg-amber-50 text-center text-amber-700 rounded-lg" *ngIf="sessions.length === 0">
            No sessions tracked yet
        </div>
        </div>
        <div *ngIf="{ value: currentPage$ | async } as page" class="w-full flex flex-col items-center gap-y-4 mt-4">
            <div class="flex flex-row gap-x-4">
                <div *ngIf="page.value !== 0" (click)="setPage(page.value! - 1)" class="border px-4 py-2 rounded-lg uppercase font-semibold hover:bg-indigo-50 cursor-pointer transition-all">
                    Previous
                </div>
                <div (click)="setPage(page.value! + 1)" class="border px-4 py-2 rounded-lg uppercase font-semibold hover:bg-indigo-50 cursor-pointer transition-all">
                    Next
                </div>
            </div>
            <div class="text-slate-500 uppercase font-medium">
                Current page: {{page.value}}
            </div>
        </div>
    </div>

    
</div>


<ng-template #loading>
    <div class="w-full py-8 flex flex-row justify-center items-center">
        <app-spinner></app-spinner>
    </div>
</ng-template>