<div class="w-full h-full text-xs flex flex-col gap-6">
  <h1
    class="mt-7 text-[32px] font-semibold leading-8 text-[#273143] dark:text-[#D9E2F2]"
  >
    Sessions
  </h1>

  <div class="w-full bg-white rounded-3xl p-8 dark:bg-[#0D0D0D]">
    <div
      class="w-full flex flex-row justify-between items-center font-medium mb-6"
    >
      <div
        class="w-52 flex flex-row items-center border py-1 px-4 rounded-md dark:border-[#9994D94D] dark:bg-[#0D0D0D]"
      >
        <input
          [formControl]="walletSearch"
          class="w-full px-1 py-1 focus:outline-none bg-transparent dark:text-white"
          placeholder="Search"
          type="text"
        />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-4 h-4 dark:stroke-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
          />
        </svg>
      </div>

      <form class="flex flex-row gap-x-2">
        <button
          class="py-[6px] px-3 flex flex-row gap-1 border-[1.5px] border-[#777A9B] rounded-md text-sm font-normal items-center text-[#777A9B]"
          [class.bg-gray-700]=""
          [class.text-slate-50]=""
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              d="M6 8.5L7.5 10L10 6.5M14 8C14 11.3137 11.3137 14 8 14C4.68629 14 2 11.3137 2 8C2 4.68629 4.68629 2 8 2C11.3137 2 14 4.68629 14 8Z"
              stroke="white"
              stroke-width="1.2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              d="M14 8C14 11.3137 11.3137 14 8 14C4.68629 14 2 11.3137 2 8C2 4.68629 4.68629 2 8 2C11.3137 2 14 4.68629 14 8Z"
              stroke="#777A9B"
              stroke-width="1.2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          Wallet Connected
        </button>
        <button
          class="py-[6px] px-3 flex flex-row gap-1 border-[1.5px] border-[#777A9B] rounded-md text-sm font-normal items-center text-[#777A9B]"
          [class.bg-gray-700]=""
          [class.text-slate-50]=""
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              d="M6 8.5L7.5 10L10 6.5M14 8C14 11.3137 11.3137 14 8 14C4.68629 14 2 11.3137 2 8C2 4.68629 4.68629 2 8 2C11.3137 2 14 4.68629 14 8Z"
              stroke="white"
              stroke-width="1.2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              d="M14 8C14 11.3137 11.3137 14 8 14C4.68629 14 2 11.3137 2 8C2 4.68629 4.68629 2 8 2C11.3137 2 14 4.68629 14 8Z"
              stroke="#777A9B"
              stroke-width="1.2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          User Landed
        </button>
        <button
          class="py-[6px] px-3 flex flex-row gap-1 border-[1.5px] border-[#777A9B] rounded-md text-sm font-normal items-center text-[#777A9B]"
          [class.bg-gray-700]=""
          [class.text-slate-50]=""
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              d="M6 8.5L7.5 10L10 6.5M14 8C14 11.3137 11.3137 14 8 14C4.68629 14 2 11.3137 2 8C2 4.68629 4.68629 2 8 2C11.3137 2 14 4.68629 14 8Z"
              stroke="white"
              stroke-width="1.2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              d="M14 8C14 11.3137 11.3137 14 8 14C4.68629 14 2 11.3137 2 8C2 4.68629 4.68629 2 8 2C11.3137 2 14 4.68629 14 8Z"
              stroke="#777A9B"
              stroke-width="1.2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          Generic Error
        </button>
        <button
          class="py-[6px] px-3 flex flex-row gap-1 border-[1.5px] border-[#777A9B] rounded-md text-sm font-normal items-center text-[#777A9B]"
          [class.bg-gray-700]=""
          [class.text-slate-50]=""
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              d="M6 8.5L7.5 10L10 6.5M14 8C14 11.3137 11.3137 14 8 14C4.68629 14 2 11.3137 2 8C2 4.68629 4.68629 2 8 2C11.3137 2 14 4.68629 14 8Z"
              stroke="white"
              stroke-width="1.2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              d="M14 8C14 11.3137 11.3137 14 8 14C4.68629 14 2 11.3137 2 8C2 4.68629 4.68629 2 8 2C11.3137 2 14 4.68629 14 8Z"
              stroke="#777A9B"
              stroke-width="1.2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>

          <div>TX Requested</div>
        </button>
      </form>
    </div>
    <div
      *ngIf="sessions$ | async as sessions; else loading"
      class="flex flex-col w-full overflow-hidden gap-1"
    >
      <div class="text-xs font-semibold uppercase grid grid-cols-9 px-4">
        <div class="text-start">Session start</div>
        <div class="text-center">OS</div>
        <div class="text-center">Country</div>
        <div class="text-center">Provider</div>
        <div class="text-center">Browser</div>
        <div class="text-center">Wallet Connected</div>
        <div class="text-center">Signed Tx</div>
        <div class="col-span-2">Notes</div>
      </div>
      <div
        class="flex flex-col gap-2 text-center text-sm font-medium leading-5"
      >
        <div
          class="grid grid-cols-9 items-center w-full border rounded-xl cursor-pointer p-4 dark:border-[#9994D94D] dark:text-[#D9E2F2]"
          *ngFor="let session of sessions"
          [routerLink]="session.sessionId"
          [state]="session"
        >
          <div class="flex flex-row gap-1 text-start items-center">
            <p
              class="text-xs font-medium leading-3 bg-[#F2F1FB] dark:bg-[#9994D94D] rounded-md p-[6px]"
            >
              {{ session.firstEventDateTime | date : "MM/dd/yy" }}
            </p>
            <p
              class="text-xs font-medium leading-3 bg-[#F2F1FB] rounded-md p-[6px] dark:bg-[#9994D94D]"
            >
              {{ session.firstEventDateTime | date : "HH:mm" }}
            </p>
          </div>
          <div class="">{{ session.devices.at(0)?.os }}</div>
          <div
            class="flex flex-row gap-x-2 items-center capitalize font-medium justify-center"
          >
            <app-icon-item-holder
              type="country"
              [iconQuery]="session.devices.at(0)?.country"
            ></app-icon-item-holder>
            {{ session.devices.at(0)?.country }}
          </div>
          <div class="flex flex-row justify-center">
            <app-icon-item-holder
              type="provider"
              [iconQuery]="session.devices.at(0)?.walletProvider"
            ></app-icon-item-holder>
          </div>
          <div class="flex flex-row justify-center">
            <app-icon-item-holder
              type="browser"
              [iconQuery]="session.devices.at(0)?.browser"
            ></app-icon-item-holder>
          </div>
          <div class="flex flex-row justify-center">
            <svg
              *ngIf="session.hasConnectedWallet"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-5 h-5 text-indigo-600"
            >
              <path
                fill-rule="evenodd"
                d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                clip-rule="evenodd"
              />
            </svg>
            <svg
              *ngIf="!session.hasConnectedWallet"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-5 h-5 text-slate-500"
            >
              <svg
                *ngIf="session.hasConnectedWallet"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-5 h-5 text-indigo-600"
              >
                <path
                  fill-rule="evenodd"
                  d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                  clip-rule="evenodd"
                />
              </svg>
            </svg>
          </div>
          <div class="text-center flex flex-row justify-center">
            <svg
              *ngIf="session.hasExecutedTransaction"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-5 h-5 text-indigo-600"
            >
              <path
                fill-rule="evenodd"
                d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                clip-rule="evenodd"
              />
            </svg>
            <svg
              *ngIf="!session.hasExecutedTransaction"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-5 h-5 text-slate-500"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="21"
                height="20"
                viewBox="0 0 21 20"
                fill="none"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M10.5713 18C14.9896 18 18.5713 14.4183 18.5713 10C18.5713 5.58172 14.9896 2 10.5713 2C6.15301 2 2.57129 5.58172 2.57129 10C2.57129 14.4183 6.15301 18 10.5713 18ZM8.85162 7.21967C8.55873 6.92678 8.08385 6.92678 7.79096 7.21967C7.49807 7.51256 7.49807 7.98744 7.79096 8.28033L9.51063 10L7.79096 11.7197C7.49807 12.0126 7.49807 12.4874 7.79096 12.7803C8.08385 13.0732 8.55873 13.0732 8.85162 12.7803L10.5713 11.0607L12.291 12.7803C12.5839 13.0732 13.0587 13.0732 13.3516 12.7803C13.6445 12.4874 13.6445 12.0126 13.3516 11.7197L11.6319 10L13.3516 8.28033C13.6445 7.98744 13.6445 7.51256 13.3516 7.21967C13.0587 6.92678 12.5839 6.92678 12.291 7.21967L10.5713 8.93934L8.85162 7.21967Z"
                  fill="#E74090"
                />
              </svg>
            </svg>
          </div>
          <div
            class="col-span-2 flex scrollbar-none flex-row w-full justify-between items-center overflow-x-auto gap-2"
          >
            <div
              class="p-1 rounded-md bg-indigo-50"
              *ngFor="let wallet of session.walletAddresses"
            >
              {{ wallet | shorten }}
            </div>
            <div
              class="p-1 rounded-md bg-red-50 dark:bg-red-200 text-orange-600"
              *ngIf="session.walletAddresses.length === 0"
            >
              No wallets
            </div>
            <div class="flex flex-row justify-start pl-4">
              <p
                class="flex flex-row text-sm font-medium leading-5 text-[#E74090] items-center gap-x-2"
                *ngIf="session.totalErrorEventCount !== 0"
              >
                Session had errors
              </p>
            </div>
            <div class="ml-auto">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="fill-[#273143] dark:fill-[#D9E2F2]"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M7.20938 14.7698C6.92228 14.4713 6.93159 13.9965 7.23017 13.7094L11.1679 10L7.23017 6.29062C6.93159 6.00353 6.92228 5.52875 7.20938 5.23017C7.49647 4.93159 7.97125 4.92228 8.26983 5.20937L12.7698 9.45937C12.9169 9.60078 13 9.79599 13 10C13 10.204 12.9169 10.3992 12.7698 10.5406L8.26983 14.7906C7.97125 15.0777 7.49647 15.0684 7.20938 14.7698Z"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div
        class="w-full mt-8 py-3 text-xs uppercase font-medium bg-amber-50 text-center text-amber-700 rounded-lg"
        *ngIf="sessions.length === 0"
      >
        No sessions tracked yet
      </div>
    </div>
  </div>

  <div
    class="flex flex-row gap-2 bg-white dark:bg-[#0D0D0D] w-fit mx-auto p-2 rounded-lg"
    *ngIf="{ value: currentPage$ | async } as page"
  >
    <button
      class="py-2 px-[13px] border dark:border-[#9994D94D] rounded-md border-[#E8E7F9]"
      *ngIf="page.value !== 0"
      (click)="setPage(page.value! - 1)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="dark:fill-[#777A9B] fill-[0F172A]"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M12.7906 5.23017C13.0777 5.52875 13.0684 6.00353 12.7698 6.29063L8.83208 10L12.7698 13.7094C13.0684 13.9965 13.0777 14.4713 12.7906 14.7698C12.5035 15.0684 12.0287 15.0777 11.7302 14.7906L7.23017 10.5406C7.08311 10.3992 7 10.204 7 10C7 9.79599 7.08311 9.60078 7.23017 9.45938L11.7302 5.20938C12.0287 4.92228 12.5035 4.93159 12.7906 5.23017Z"
        />
      </svg>
    </button>

    <button
      class="py-2 px-[13px] border dark:border-[#9994D94D] rounded-md font-medium text-sm border-[#E8E7F9]"
      (click)="setPage(page.value! - 1)"
      [class.hidden]="page.value !== null && page.value < 1"
    >
      {{ page.value !== null ? page.value - 1 : "" }}
    </button>
    <button
      class="py-2 px-[13px] border dark:border-[#9994D94D] rounded-md font-medium text-sm border-[#E8E7F9] bg-[#273143] text-white"
    >
      {{ page.value }}
    </button>
    <button
      class="py-2 px-[13px] border dark:border-[#9994D94D] rounded-md font-medium text-sm border-[#E8E7F9]"
      (click)="setPage(page.value! + 1)"
    >
      {{ page.value !== null ? page.value + 1 : "" }}
    </button>
    <button
      class="py-2 px-[13px] border dark:border-[#9994D94D] rounded-md border-[#E8E7F9]"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        stroke='"currentColor'
        class="dark:stroke-[#777A9B] stroke-black"
      >
        <path
          d="M3 10C3 9.17157 3.67157 8.5 4.5 8.5C5.32843 8.5 6 9.17157 6 10C6 10.8284 5.32843 11.5 4.5 11.5C3.67157 11.5 3 10.8284 3 10Z"
        />
        <path
          d="M8.5 10C8.5 9.17157 9.17157 8.5 10 8.5C10.8284 8.5 11.5 9.17157 11.5 10C11.5 10.8284 10.8284 11.5 10 11.5C9.17157 11.5 8.5 10.8284 8.5 10Z"
        />
        <path
          d="M15.5 8.5C14.6716 8.5 14 9.17157 14 10C14 10.8284 14.6716 11.5 15.5 11.5C16.3284 11.5 17 10.8284 17 10C17 9.17157 16.3284 8.5 15.5 8.5Z"
        />
      </svg>
    </button>
    <button
      class="py-2 px-[13px] border dark:border-[#9994D94D] rounded-md font-medium text-sm border-[#E8E7F9]"
    >
      99
    </button>
    <button
      class="py-2 px-[13px] border dark:border-[#9994D94D] rounded-md border-[#E8E7F9]"
      (click)="setPage(page.value! + 1)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="dark:fill-[#777A9B] fill-[0F172A]"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M7.20938 14.7698C6.92228 14.4713 6.93159 13.9965 7.23017 13.7094L11.1679 10L7.23017 6.29062C6.93159 6.00353 6.92228 5.52875 7.20938 5.23017C7.49647 4.93159 7.97125 4.92228 8.26983 5.20937L12.7698 9.45937C12.9169 9.60078 13 9.79599 13 10C13 10.204 12.9169 10.3992 12.7698 10.5406L8.26983 14.7906C7.97125 15.0777 7.49647 15.0684 7.20938 14.7698Z"
        />
      </svg>
    </button>
  </div>
</div>

<ng-template #loading>
  <div class="w-full py-8 flex flex-row justify-center items-center">
    <app-spinner></app-spinner>
  </div>
</ng-template>
