<div *ngIf="authType$ | async as authType" class="w-screen min-h-screen flex flex-row items-center justify-center
     bg-gradient-to-b from-indigo-50 to-white text-slate-700">
    <form [@fadeNoExit] *ngIf="authType === 'login'" [formGroup]="authForm" class="max-w-md w-full flex flex-col gap-y-2 rounded-lg p-6 shadow-sm bg-white">
        <div class="w-full flex flex-row justify-center">
            <img class="h-10" src="../../assets/logo.png" alt="" srcset="">
        </div>
        <div class="uppercase text-center w-full text-xs font-medium mb-2">Log In</div>
        <div class="flex flex-col">
            <small class="uppercase font-medium flex flex-row items-center gap-x-2 mb-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-4 h-4">
                    <path stroke-linecap="round" d="M16.5 12a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 10-2.636 6.364M16.5 12V8.25" />
                  </svg>
                Email                  
            </small>
            <input formControlName="email"
                class="w-full px-4 py-2 text-sm rounded-lg border-slate-100 border" type="email" name="" id="">
        </div>
        <div class="flex flex-col gap-y-1 mt-3">
            <small class="uppercase font-medium flex flex-row items-center gap-x-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
                  </svg>
                Password
            </small>
            <input formControlName="password" class="w-full px-4 py-2 text-sm rounded-lg border-slate-100 border" type="password" name="" id="">
        </div>
        <div class="w-full flex flex-row justify-end hover:underline cursor-pointer hover:text-slate-700
         text-xs text-slate-500 mb-4 hover:font-medium">Forgot your password?</div>

        <div *ngIf="errorMessage$ | async as errorMessage" 
            class="bg-red-50 w-full p-4 rounded-lg text-xs items-center flex flex-row gap-x-2 text-red-700">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
              </svg>
              
            {{errorMessage}}
        </div>

        <button [disabled]="!authForm.valid" (click)="logInClicked($event)"
            class="w-full py-3 font-semibold text-center disabled:!bg-slate-50 disabled:!shadow-none
             text-xs uppercase hover:bg-indigo-900 hover:shadow-lg disabled:!text-slate-400
            text-indigo-800 hover:text-white rounded-lg border bg-indigo-50 transition-all flex flex-row items-center justify-center gap-x-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
                </svg>
            
                <div>
                    Log In
                </div>
        </button>

        <div class="w-full text-center text-slate-500 mt-4 text-sm">Don't have an account? Sign up <a class="underline hover:text-indigo-800 hover:font-medium" [routerLink]="['../']" [queryParams]="{ signup: true }">here</a> </div>

    </form>

    <form [@fadeNoExit] *ngIf="authType === 'signup'" [formGroup]="authForm" class="max-w-md w-full flex flex-col gap-y-2 rounded-lg p-6 shadow-sm bg-white">
        <div class="w-full flex flex-row justify-center">
            <img class="h-10" src="../../assets/logo.png" alt="" srcset="">
        </div>
        <div class="uppercase text-center w-full text-xs font-medium mb-2">Sign Up</div>
        <div class="flex flex-col">
            <small class="uppercase font-medium flex flex-row items-center gap-x-2 mb-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-4 h-4">
                    <path stroke-linecap="round" d="M16.5 12a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 10-2.636 6.364M16.5 12V8.25" />
                  </svg>
                Email                  
            </small>
            <input formControlName="email" class="w-full px-4 py-2 text-sm rounded-lg border-slate-100 border" placeholder="Email" type="email" name="" id="">
        </div>
        <div class="flex flex-col gap-y-1 mt-3">
            <small class="uppercase font-medium flex flex-row items-center gap-x-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
                  </svg>
                Password
            </small>
            <input formControlName="password"  class="w-full px-4 py-2 text-sm rounded-lg border-slate-100 border" type="password" name="" id="">
        </div>
        <div class="flex flex-col gap-y-1 mt-3">
            <small class="uppercase font-medium flex flex-row items-center gap-x-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
                  </svg>
                Confirm password
            </small>
            <input formControlName="confirmpassword" class="w-full px-4 py-2 text-sm rounded-lg border-slate-100 border" type="password" name="" id="">
        </div>

        <button [disabled]="!authForm.valid" (click)="signUpClicked($event)"
            class="w-full py-3 mt-4 font-semibold text-center disabled:!bg-slate-50 disabled:!shadow-none
             text-xs uppercase hover:bg-indigo-900 hover:shadow-lg disabled:!text-slate-400
            text-indigo-800 hover:text-white rounded-lg border bg-indigo-50 transition-all flex flex-row items-center justify-center gap-x-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
                </svg>
            
                <div>
                    Sign Up
                </div>
        </button>
    </form>
    
</div>