<div class="w-full p-6 bg-white rounded-lg shadow-sm text-xs">
    <div class="text-indigo-700 uppercase font-semibold">{{chartTitle}}</div>
    <div class="flex flex-row gap-x-4 mt-2">
        <div class="flex flex-col">
            <div class="py-2 px-4 rounded-lg mt-1 flex flex-row gap-x-4 items-center justify-between
             bg-indigo-50 font-semibold text-indigo-700 hover:bg-indigo-700 hover:text-white cursor-pointer transition-all">
                30D
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                    <path fill-rule="evenodd" d="M11.47 4.72a.75.75 0 011.06 0l3.75 3.75a.75.75 0 01-1.06 1.06L12 6.31 8.78 9.53a.75.75 0 01-1.06-1.06l3.75-3.75zm-3.75 9.75a.75.75 0 011.06 0L12 17.69l3.22-3.22a.75.75 0 111.06 1.06l-3.75 3.75a.75.75 0 01-1.06 0l-3.75-3.75a.75.75 0 010-1.06z" clip-rule="evenodd" />
                  </svg>
            </div>
        </div>
        <div class="flex flex-col">
            <div class="py-2 px-4 rounded-lg mt-1 flex flex-row gap-x-4 items-center justify-between
             bg-indigo-50 font-semibold text-indigo-700 hover:bg-indigo-700 hover:text-white cursor-pointer transition-all">
                By Browsers
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                    <path fill-rule="evenodd" d="M11.47 4.72a.75.75 0 011.06 0l3.75 3.75a.75.75 0 01-1.06 1.06L12 6.31 8.78 9.53a.75.75 0 01-1.06-1.06l3.75-3.75zm-3.75 9.75a.75.75 0 011.06 0L12 17.69l3.22-3.22a.75.75 0 111.06 1.06l-3.75 3.75a.75.75 0 01-1.06 0l-3.75-3.75a.75.75 0 010-1.06z" clip-rule="evenodd" />
                  </svg>
            </div>
        </div>
    </div>
    <canvas class="mt-4" id="chartHolder"></canvas>
    
</div>