<div class="w-full bg-white p-8 rounded-lg shadow-sm text-xs">

    <div *ngIf="events$ | async as events">
        <div class="flex flex-row text-indigo-700 gap-x-2 items-center uppercase font-semibold text-xs mb-6">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z" />
            </svg>
            <div>Session event history</div>
        </div>
        <div class="flex px-4 mb-2 text-xs flex-row uppercase font-semibold pb-2">
            <div class="w-1/12">
                Time
            </div>
            <div class="w-2/12 pl-4">
                Type
            </div>
            <div class="w-2/12 pl-4">
                Wallet
            </div>
            <div class="w-2/12">
                Network
            </div>
            <div class="w-2/12">
                Gas Balance
            </div>
            <div class="w-2/12">
                Wallet Nonce
            </div>
        </div>
        <div class="flex flex-row w-full border-t hover:bg-slate-50 cursor-pointer border-slate-100"
            *ngFor="let event of events">

            <div class="w-full py-4 text-emerald-700 rounded-lg" *ngIf="event.tracker.eventTracker === 'USER_LANDED'">
                <div class="px-4 w-full flex flex-row items-center"
                    *ngIf="castToUserLandedEvent(event) as userLandedEvent">
                    <div class="w-1/12 text-slate-700 flex flex-col">
                        <div class="font-semibold">{{event.createdAtParsed.toLocaleDateString()}}</div>
                        <div class="text-xs">{{event.createdAtParsed.toLocaleTimeString()}}</div>
                    </div>
                    <div class="w-2/12  pl-4 uppercase text-[11px] font-semibold flex flex-row gap-x-2 items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25" />
                        </svg>

                        User Landed
                    </div>

                    <div class="w-2/12 pl-4 py-1 px-3 flex flex-row" *ngIf="userLandedEvent.userLandedWallet as wallet">
                        <div class="px-3 py-2 bg-emerald-50 font-medium rounded-md">
                            {{wallet.walletAddress | shorten:6:6}}
                        </div>

                    </div>
                    <div class="w-2/12 uppercase text-slate-700 font-medium flex text-[10px] flex-row gap-x-2"
                        *ngIf="userLandedEvent.userLandedNetwork as network">
                        <app-icon-item-holder type="network" [iconQuery]="network.chainId.toString()"></app-icon-item-holder>
                        {{getNetwork(network.chainId)?.name}}
                    </div>
                    <div class="w-2/12 text-slate-700 font-medium" *ngIf="userLandedEvent.userLandedWallet as wallet">
                        {{wallet.gasBalance}}
                    </div>
                    <div class="w-2/12 font-medium text-slate-700" *ngIf="userLandedEvent.userLandedWallet as wallet">
                        {{wallet.nonce}}
                    </div>
                </div>
            </div>
            <div class="w-full" *ngIf="event.tracker.eventTracker === 'WALLET_CONNECT'">
                <div class="px-4 w-full text-indigo-700
                 rounded-lg py-4 flex flex-row items-center"
                    *ngIf="castToWalletConnectedEvent(event) as walletConnectedEvent">
                    <div class="w-1/12 text-slate-700 flex flex-col">
                        <div class="font-semibold">{{event.createdAtParsed.toLocaleDateString()}}</div>
                        <div class="text-xs">{{event.createdAtParsed.toLocaleTimeString()}}</div>
                    </div>
                    <div class="w-2/12 text-[11px]  pl-4 font-semibold uppercase flex flex-row gap-x-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 12a2.25 2.25 0 00-2.25-2.25H15a3 3 0 11-6 0H5.25A2.25 2.25 0 003 12m18 0v6a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 18v-6m18 0V9M3 12V9m18 0a2.25 2.25 0 00-2.25-2.25H5.25A2.25 2.25 0 003 9m18 0V6a2.25 2.25 0 00-2.25-2.25H5.25A2.25 2.25 0 003 6v3" />
                        </svg>

                        Wallet Connected
                    </div>

                    <div class="w-2/12 text-xs pl-4 flex flex-row">
                        <div class="px-3 py-2 bg-indigo-50 rounded-md font-medium">
                            {{walletConnectedEvent.walletConnectedWallet.walletAddress | shorten:6:6}}
                        </div>
                    </div>
                    <div class="w-2/12 uppercase text-slate-700 font-medium flex flex-row text-[10px] gap-x-2"
                        *ngIf="walletConnectedEvent.walletConnectedNetwork as network">
                        <app-icon-item-holder type="network" [iconQuery]="network.chainId.toString()"></app-icon-item-holder>
                        {{getNetwork(network.chainId)?.name}}
                    </div>
                    <div class="w-2/12 text-slate-700 font-medium"
                        *ngIf="walletConnectedEvent.walletConnectedWallet as wallet">
                        {{wallet.gasBalance}}
                    </div>
                    <div class="w-2/12 font-medium text-slate-700"
                        *ngIf="walletConnectedEvent.walletConnectedWallet as wallet">
                        {{wallet.nonce}}
                    </div>
                </div>
            </div>
            <div class="w-full" *ngIf="event.tracker.eventTracker === 'TX_REQUEST'">
                <div class="px-4 w-full text-violet-700
                 rounded-lg py-4 flex flex-row items-center"
                    *ngIf="castToTxRequestEvent(event) as txRequestEvent">
                    <div class="w-1/12 text-slate-700 flex flex-col">
                        <div class="font-semibold">{{event.createdAtParsed.toLocaleDateString()}}</div>
                        <div class="text-xs">{{event.createdAtParsed.toLocaleTimeString()}}</div>
                    </div>
                    <div class="w-2/12 text-[11px]  pl-4 font-semibold uppercase flex flex-row gap-x-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z" />
                          </svg>
                          

                        Tx Requested
                    </div>

                    <div class="w-2/12 text-xs pl-4 flex flex-row">
                        <div class="px-3 py-2 bg-violet-50 rounded-md font-medium">
                            {{txRequestEvent.txRequestWallet.walletAddress | shorten:6:6}}
                        </div>
                    </div>
                    <div class="w-2/12 uppercase text-slate-700 font-medium flex text-[10px] flex-row gap-x-2"
                        *ngIf="txRequestEvent.txRequestNetwork as network; else unknownNetwork">
                        <app-icon-item-holder [iconQuery]="network.chainId.toString()" type="network"></app-icon-item-holder>
                        {{getNetwork(network.chainId)?.name}}
                    </div>
                    <ng-template #unknownNetwork>
                        <div class="w-2/12 uppercase text-slate-700 font-medium flex flex-row gap-x-2">
                        Network not provided
                        </div>
                    </ng-template>
                    <div class="w-2/12 text-slate-700 font-medium"
                        *ngIf="txRequestEvent.txRequestWallet as wallet">
                        {{wallet.gasBalance}}
                    </div>
                    <div class="w-2/12 font-medium text-slate-700"
                        *ngIf="txRequestEvent.txRequestWallet as wallet">
                        {{wallet.nonce}}
                    </div>
                </div>
            </div>
            <div class="w-full p-4 flex flex-row rounded-lg text-red-500" routerLink="/console/event-details/{{event.id}}"
                *ngIf="event.tracker.eventTracker === 'GENERIC_ERROR'">
                <div class="flex flex-row items-center w-full" 
                    *ngIf="castToErrorEvent(event) as errorEvent">
                    <div class="w-1/12 text-slate-700 flex flex-col">
                        <div class="font-semibold">{{event.createdAtParsed.toLocaleDateString()}}</div>
                        <div class="text-xs">{{event.createdAtParsed.toLocaleTimeString()}}</div>
                    </div>
                    <div class="w-2/12 text-[11px] flex flex-row  pl-4 items-center gap-x-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                        </svg>
                        <div class="font-semibold uppercase">Generic Error</div>
                    </div>

                    <div *ngIf="errorEvent.errorEventWallet?.walletAddress as address"
                        class="w-2/12 text-xs pl-4 flex flex-row items-center">
                        <div class="px-3 py-2 bg-red-50 rounded-md font-medium">
                            {{address | shorten:6:6}}
                        </div>
                    </div>
                    <div class="w-2/12 uppercase text-slate-700 font-medium flex text-[10px] flex-row gap-x-2"
                        *ngIf="errorEvent.errorEventNetwork as network">
                        <app-icon-item-holder type="network" [iconQuery]="network.chainId.toString()"></app-icon-item-holder>
                        {{getNetwork(network.chainId)?.name}}
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>