<div class="w-full flex flex-col gap-6">
  <div class="grid grid-cols-2 gap-6">
    <div
      *ngIf="wallets$ | async as wallets"
      class="w-full p-8 bg-white dark:bg-[#0D0D0D] rounded-3xl flex flex-col gap-6"
    >
      <div class="flex flex-row w-full justify-between items-center">
        <div class="text-2xl text-[#273143] font-semibold dark:text-[#D9E2F2]">
          Total unique connected wallets
        </div>
        <div class="flex flex-row gap-2" *ngIf="showTotalUniqueWalletsChart">
          <button
            class="p-[10px] border border-[rgb(232,231,249)] dark:border-[#9994D94D] rounded-lg"
            (click)="toggleTotalUniqueWalletsFilter()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M12.0001 3C14.7548 3 17.4552 3.23205 20.0831 3.67767C20.6159 3.76803 21 4.23355 21 4.77402V5.81802C21 6.41476 20.7629 6.98705 20.341 7.40901L14.909 12.841C14.4871 13.2629 14.25 13.8352 14.25 14.432V17.3594C14.25 18.2117 13.7685 18.9908 13.0062 19.3719L9.75 21V14.432C9.75 13.8352 9.51295 13.2629 9.09099 12.841L3.65901 7.40901C3.23705 6.98705 3 6.41476 3 5.81802V4.77404C3 4.23357 3.38408 3.76805 3.91694 3.67769C6.54479 3.23206 9.24533 3 12.0001 3Z"
                stroke="#777A9B"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
          <app-timespan-chart-filters
            [appliedFilters]="walletsAppliedFiltersSub"
          ></app-timespan-chart-filters>
        </div>

        <div class="flex flex-row gap-2" *ngIf="!showTotalUniqueWalletsChart">
          <button
            class="p-2 border border-[#E8E7F9] rounded-lg bg-[#273143]"
            (click)="toggleTotalUniqueWalletsFilter()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              class="dark:stroke-white dark:text-white"
            >
              <path
                d="M4.5 12.75L10.5 18.75L19.5 5.25"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
          <button
            class="p-2 border border-[#E8E7F9] rounded-lg"
            (click)="toggleTotalUniqueWalletsFilter()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              class="dark:stroke-white dark:text-white"
            >
              <path
                d="M6 18L18 6M6 6L18 18"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
        </div>
      </div>
      <div *ngIf="showTotalUniqueWalletsChart">
        <app-timespan-chart
          [datasets]="[{ label: 'Unique connected wallets', data: wallets$ }]"
        ></app-timespan-chart>
      </div>

      <div
        class="flex flex-row gap-3 flex-wrap"
        *ngIf="showTotalUniqueWalletsChart"
      >
        <div
          class="flex flex-row gap-2 rounded-lg border border-[#E8E7F9] items-center justify-center py-2 pl-4 pr-3 text-center dark:border-[#9994D94D] dark:text-[#D9E2F2] capitalize"
          *ngFor="let selectedProvider of totalUniqueWalletsSelectedProviders"
        >
          <div class="w-[9px] h-[9px] bg-red-400 rounded-full"></div>
          <p class="text-sm leading-5 font-medium">
            {{ selectedProvider.name }}
          </p>
          <div
            class="px-2 text-xs leading-3 font-semibold text-white items-center justify-center py-[6px] bg-[#273143] rounded-lg min-w-[40px] dark:bg-[#D9E2F2] dark:text-black"
          >
            {{ selectedProvider.totalWalletConnections }}
          </div>
        </div>
      </div>

      <div *ngIf="!showTotalUniqueWalletsChart">
        <div
          class="px-4 border border-[#E8E7F9] dark:border-[#9994D94D] flex flex-row justify-between items-center py-3 rounded-t-2xl"
          *ngIf="walletProviders$ | async as providers"
        >
          <div class="flex flex-row items-center gap-2">
            <button
              (click)="saveAllTotalUniqueWalletsProviders()"
              class="flex flex-row items-center gap-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                class="dark:stroke-[#D9E2F2] stroke-[#273143]"
              >
                <path
                  d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <circle cx="12" cy="12" r="2" fill="#273143" />
              </svg>

              <p class="text-sm font-medium dark:text-[#D9E2F2]">Select all</p>
            </button>
            <div
              class="bg-black w-[5px] h-[5px] rounded-full dark:bg-[#D9E2F2]"
            ></div>
            <p class="text-sm font-medium dark:text-[#D9E2F2]">
              {{ providers.length }}
            </p>
          </div>
          <button (click)="resetTotalUniqueWalletsFilters()">
            <p
              class="underline decoration-1 underline-offset-2 underline-[##777A9B] text-[#777A9B] dark:text-[#777A9B]"
            >
              Reset filter
            </p>
          </button>
        </div>
        <div
          class="border dark:border-[#9994D94D] border-t-0 overflow-y-scroll max-h-52 rounded-b-2xl"
          *ngIf="walletProviders$ | async as providers"
        >
          <button
            *ngFor="let provider of providers"
            class="w-full py-3 px-4 flex flex-row items-center gap-2 hover:cursor-pointer hover:bg-[#F2F1FB] dark:hover:bg-zinc-800"
            (click)="toggleTotalUniqueWalletsProvidersSelection(provider)"
          >
            <svg
              *ngIf="!isTotalUniqueWalletsProviderSelected(provider)"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              class="dark:stroke-[#D9E2F2] stroke-[#273143]"
            >
              <path
                d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <svg
              *ngIf="isTotalUniqueWalletsProviderSelected(provider)"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              class="dark:stroke-[#D9E2F2] stroke-[#273143]"
            >
              <path
                d="M9 12.75L11.25 15L15 9.75M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <p class="dark:text-[#777A9B]">{{ provider.name }}</p>
          </button>
        </div>
      </div>
    </div>

    <div
      class="bg-white dark:bg-[#0D0D0D] p-8 flex flex-col gap-6 rounded-3xl"
      *ngIf="txs$ | async as txs"
    >
      <div class="flex flex-row justify-between items-center">
        <p class="text-2xl text-[#273143] dark:text-[#D9E2F2] font-semibold">
          Total transaction requests
        </p>
        <div class="flex flex-row gap-2" *ngIf="showTotalTransactionChart">
          <button
            class="p-[10px] border border-[#E8E7F9] rounded-lg dark:border-[#9994D94D]"
            (click)="toggleTotalTransactionRequestsFilter()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M12.0001 3C14.7548 3 17.4552 3.23205 20.0831 3.67767C20.6159 3.76803 21 4.23355 21 4.77402V5.81802C21 6.41476 20.7629 6.98705 20.341 7.40901L14.909 12.841C14.4871 13.2629 14.25 13.8352 14.25 14.432V17.3594C14.25 18.2117 13.7685 18.9908 13.0062 19.3719L9.75 21V14.432C9.75 13.8352 9.51295 13.2629 9.09099 12.841L3.65901 7.40901C3.23705 6.98705 3 6.41476 3 5.81802V4.77404C3 4.23357 3.38408 3.76805 3.91694 3.67769C6.54479 3.23206 9.24533 3 12.0001 3Z"
                stroke="#777A9B"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
          <app-timespan-chart-filters
            [appliedFilters]="txsAppliedFiltersSub"
          ></app-timespan-chart-filters>
        </div>
        <div class="flex flex-row gap-2" *ngIf="!showTotalTransactionChart">
          <button
            class="p-2 border border-[#E8E7F9] rounded-lg bg-[#273143]"
            (click)="toggleTotalTransactionRequestsFilter()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M4.5 12.75L10.5 18.75L19.5 5.25"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
          <button
            class="p-2 border border-[#E8E7F9] rounded-lg"
            (click)="toggleTotalTransactionRequestsFilter()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              class="dark:stroke-white dark:text-white"
            >
              <path
                d="M6 18L18 6M6 6L18 18"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
        </div>
      </div>
      <div *ngIf="showTotalTransactionChart">
        <app-timespan-chart
          [datasets]="[{ label: 'Total transactions', data: txs$ }]"
        ></app-timespan-chart>
      </div>
      <div
        class="flex flex-row gap-3 flex-wrap"
        *ngIf="showTotalTransactionChart"
      >
        <div
          class="flex flex-row gap-2 rounded-lg border dark:border-[#9994D94D] border-[#E8E7F9] items-center justify-center py-2 pl-4 pr-3 text-center requests dark:text-[#D9E2F2] capitalize"
          *ngFor="let selectedProvider of TotalTransactionSelectedProviders"
        >
          <div class="w-[9px] h-[9px] bg-red-400 rounded-full"></div>
          <p class="text-sm leading-5 font-medium">
            {{ selectedProvider.name }}
          </p>
          <div
            class="px-2 text-xs leading-3 font-semibold text-white items-center justify-center py-[6px] bg-[#273143] rounded-lg min-w-[40px] dark:bg-[#D9E2F2] dark:text-black"
          >
            {{ selectedProvider.totalWalletConnections }}
          </div>
        </div>
      </div>

      <div *ngIf="!showTotalTransactionChart">
        <div
          class="px-4 border border-[#E8E7F9] dark:border-[#9994D94D] flex flex-row justify-between items-center py-3 rounded-t-2xl"
          *ngIf="walletProviders$ | async as providers"
        >
          <div class="flex flex-row items-center gap-2">
            <button
              (click)="saveAllTotalTransactionProviders()"
              class="flex flex-row items-center gap-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                class="dark:stroke-[#D9E2F2] stroke-[#273143]"
              >
                <path
                  d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <circle cx="12" cy="12" r="2" fill="#273143" />
              </svg>

              <p class="text-sm font-medium dark:text-[#D9E2F2]">Select all</p>
            </button>
            <div
              class="bg-black w-[5px] h-[5px] rounded-full dark:bg-[#D9E2F2]"
            ></div>
            <p class="text-sm font-medium dark:text-[#D9E2F2]">
              {{ providers.length }}
            </p>
          </div>
          <button (click)="resetFilters()">
            <p
              class="underline decoration-1 underline-offset-2 underline-[##777A9B] text-[#777A9B]"
            >
              Reset filter
            </p>
          </button>
        </div>
        <div
          class="border border-t-0 dark:border-[#9994D94D] overflow-y-scroll max-h-52 rounded-b-2xl"
          *ngIf="walletProviders$ | async as providers"
        >
          <button
            *ngFor="let provider of providers"
            class="w-full py-3 px-4 flex flex-row items-center gap-2 hover:cursor-pointer hover:bg-[#F2F1FB] dark:hover:bg-zinc-800"
            (click)="toggleTotalTransactionProviderSelection(provider)"
          >
            <svg
              *ngIf="!isProviderSelected(provider)"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              class="dark:stroke-[#D9E2F2] stroke-[#273143]"
            >
              <path
                d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <svg
              *ngIf="isProviderSelected(provider)"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              class="dark:stroke-[#D9E2F2] stroke-[#273143]"
            >
              <path
                d="M9 12.75L11.25 15L15 9.75M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <p class="dark:text-[#777A9B]">{{ provider.name }}</p>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="w-full bg-white dark:bg-[#0D0D0D] rounded-3xl overflow-y-scroll p-8 flex flex-col gap-6"
  >
    <div class="flex flex-col w-full">
      <p class="text-[#273143] dark:text-[#D9E2F2] font-semibold text-2xl">
        Networks
      </p>
      <p class="text-sm text-[#777A9B] dark:text-[#777A9B]">All time</p>
    </div>

    <div class="max-h-96">
      <table
        *ngIf="networks$ | async as networks"
        class="w-full table-auto text-xs max-h-96 border-separate border-spacing-y-2"
      >
        <thead class="text-xs text-[#777A9B] dark:text-[#777A9B] dark:text-[]">
          <tr>
            <th class=""></th>
            <th class="uppercase font-normal">Landed</th>
            <th class="uppercase font-normal">Wallet Connects</th>
            <th class="uppercase font-normal">Unique Wallets</th>
            <th class="uppercase font-normal">Total TX</th>
            <th class=""></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let network of networks">
            <td
              class="items-center flex flex-row border-y border-l rounded-l-xl py-4 pl-4 dark:border-[#9994D94D]"
            >
              <app-icon-item-holder
                type="network"
                [showQuery]="true"
                [iconQuery]="network.chainId.toString()"
              ></app-icon-item-holder>
            </td>
            <td
              class="text-center border-y py-4 dark:text-[#D9E2F2] dark:border-[#9994D94D]"
            >
              {{ network.uniqueUsersLanded }}
            </td>
            <td
              class="text-center border-y py-4 dark:text-[#D9E2F2] dark:border-[#9994D94D]"
            >
              {{ network.totalWalletConnections }}
            </td>
            <td
              class="text-center border-y py-4 dark:text-[#D9E2F2] dark:border-[#9994D94D]"
            >
              {{ network.uniqueWalletConnections }}
            </td>
            <td
              class="text-center border-y py-4 dark:text-[#D9E2F2] dark:border-[#9994D94D]"
            >
              {{ network.executedTransactions }}
            </td>
            <td
              class="border-y py-4 pr-4 border-r rounded-r-xl dark:text-[#777A9B] dark:border-[#9994D94D]"
            >
              <div class="flex flex-row gap-1 items-center justify-end">
                <p>
                  <ng-container
                    *ngIf="
                      network.totalWalletConnections > 0;
                      else zeroPercentage
                    "
                  >
                    {{
                      (network.uniqueWalletConnections /
                        network.totalWalletConnections) *
                        100 | number : "1.0-0"
                    }}%
                  </ng-container>
                  <ng-template #zeroPercentage>0%</ng-template>
                </p>
                <div
                  class="w-[168px] h-2 rounded-full bg-[#E8E7F9] dark:bg-[#1C1C1C]"
                >
                  <div
                    class="h-2 bg-[#4300AF] rounded-full"
                    [style.width.%]="
                      network.totalWalletConnections > 0
                        ? (network.uniqueWalletConnections /
                            network.totalWalletConnections) *
                          100
                        : 0
                    "
                  ></div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="networks.length === 0">
          <td class="mt-4 text-xs font-medium uppercase text-slate-500">
            No data collected yet
          </td>
        </tbody>
      </table>
    </div>
  </div>

  <div
    class="w-full bg-white dark:bg-[#0D0D0D] rounded-3xl overflow-y-scroll p-8 flex flex-col gap-6"
  >
    <div class="flex flex-col w-full">
      <p class="text-[#273143] font-semibold text-2xl dark:text-[#D9E2F2]">
        Browsers
      </p>
      <p class="text-sm text-[#777A9B] dark:text-[#777A9B]">All time</p>
    </div>

    <div class="max-h-96 h-full">
      <table
        *ngIf="browser$ | async as browsers"
        class="w-full table-auto text-xs max-h-96 border-separate border-spacing-y-2"
      >
        <thead class="text-xs text-[#777A9B] dark:text-[#777A9B]">
          <tr>
            <th></th>
            <th class="uppercase font-normal">Unique Users</th>
            <th class="uppercase font-normal">Wallet Connects</th>
            <th class="uppercase font-normal">Unique Wallets</th>
            <th class="uppercase font-normal">Total TX</th>
            <th class=""></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let browser of browsers">
            <td
              class="items-center flex flex-row gap-x-2 border-y border-l rounded-l-xl py-4 pl-4 dark:text-[#D9E2F2] dark:border-[#9994D94D]"
            >
              <img
                class="h-4 w-4 object-cover rounded-full"
                [src]="getBrowserIcon(browser.name)"
                alt=""
                srcset=""
              />
              {{ browser.name }}
            </td>
            <td
              class="text-center border-y py-4 dark:text-[#D9E2F2] dark:border-[#9994D94D]"
            >
              {{ browser.uniqueUsersLanded }}
            </td>
            <td
              class="text-center border-y py-4 dark:text-[#D9E2F2] dark:border-[#9994D94D]"
            >
              {{ browser.totalWalletConnections }}
            </td>
            <td
              class="text-center border-y py-4 dark:text-[#D9E2F2] dark:border-[#9994D94D]"
            >
              {{ browser.uniqueWalletConnections }}
            </td>
            <td
              class="text-center border-y py-4 dark:text-[#D9E2F2] dark:border-[#9994D94D]"
            >
              {{ browser.executedTransactions }}
            </td>
            <td
              class="border-y py-4 pr-4 border-r rounded-r-xl dark:border-[#9994D94D] dark:text-[#777A9B]"
            >
              <div class="flex flex-row gap-1 items-center justify-end">
                <p>
                  <ng-container
                    *ngIf="
                      browser.totalWalletConnections > 0;
                      else zeroPercentage
                    "
                  >
                    {{
                      (browser.uniqueWalletConnections /
                        browser.totalWalletConnections) *
                        100 | number : "1.0-0"
                    }}%
                  </ng-container>
                  <ng-template #zeroPercentage>0%</ng-template>
                </p>
                <div
                  class="w-[168px] h-2 rounded-full bg-[#E8E7F9] dark:bg-[#1C1C1C]"
                >
                  <div
                    class="h-2 bg-[#4300AF] rounded-full"
                    [style.width.%]="
                      browser.totalWalletConnections > 0
                        ? (browser.uniqueWalletConnections /
                            browser.totalWalletConnections) *
                          100
                        : 0
                    "
                  ></div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="browsers.length === 0">
          <td class="mt-4 text-xs font-medium uppercase text-slate-500">
            No data collected yet
          </td>
        </tbody>
      </table>
    </div>
  </div>

  <div
    class="w-full bg-white dark:bg-[#0D0D0D] p-8 rounded-3xl flex flex-col gap-6"
  >
    <div class="flex flex-col w-full">
      <p class="text-[#273143] font-semibold text-2xl dark:text-[#D9E2F2]">
        Countries
      </p>
      <p class="text-sm text-[#777A9B]">All time</p>
    </div>

    <div class="px-4 max-h-96 overflow-y-auto">
      <table
        *ngIf="countries$ | async as countries"
        class="w-full table-auto text-xs max-h-96 border-separate border-spacing-y-2"
      >
        <thead class="text-xs text-[#777A9B]">
          <tr>
            <th></th>
            <th class="uppercase font-normal">Unique Users</th>
            <th class="uppercase font-normal">Wallet Connects</th>
            <th class="uppercase font-normal">Unique Wallets</th>
            <th class="uppercase font-normal">Total TXs</th>
            <th></th>
          </tr>
        </thead>

        <tbody *ngIf="countries.length !== 0">
          <tr class="" *ngFor="let country of countries">
            <td
              class="items-center flex flex-row gap-x-2 border-y border-l rounded-l-xl py-4 pl-4 dark:text-[#D9E2F2] dark:border-[#9994D94D]"
            >
              <app-icon-item-holder
                type="country"
                [showQuery]="true"
                [iconQuery]="country.name"
              ></app-icon-item-holder>
            </td>
            <td
              class="text-center border-y py-4 dark:text-[#D9E2F2] dark:border-[#9994D94D]"
            >
              {{ country.uniqueUsersLanded }}
            </td>
            <td
              class="text-center border-y py-4 dark:text-[#D9E2F2] dark:border-[#9994D94D]"
            >
              {{ country.totalWalletConnections }}
            </td>
            <td
              class="text-center border-y py-4 dark:text-[#D9E2F2] dark:border-[#9994D94D]"
            >
              {{ country.uniqueWalletConnections }}
            </td>
            <td
              class="text-center border-y py-4 dark:text-[#D9E2F2] dark:border-[#9994D94D]"
            >
              {{ country.executedTransactions }}
            </td>
            <td
              class="border-y py-4 pr-4 border-r rounded-r-xl dark:border-[#9994D94D]"
            >
              <div
                class="flex flex-row gap-1 items-center justify-end dark:text-[#777A9B]"
              >
                <p>
                  <ng-container
                    *ngIf="
                      country.totalWalletConnections > 0;
                      else zeroPercentage
                    "
                  >
                    {{
                      (country.uniqueWalletConnections /
                        country.totalWalletConnections) *
                        100 | number : "1.0-0"
                    }}%
                  </ng-container>
                  <ng-template #zeroPercentage>0%</ng-template>
                </p>

                <div
                  class="w-[168px] h-2 rounded-full bg-[#E8E7F9] dark:bg-[#1C1C1C]"
                >
                  <div
                    class="h-2 bg-[#4300AF] rounded-full"
                    [style.width.%]="
                      country.totalWalletConnections > 0
                        ? (country.uniqueWalletConnections /
                            country.totalWalletConnections) *
                          100
                        : 0
                    "
                  ></div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="countries.length === 0">
          <td class="mt-4 text-xs font-medium uppercase text-slate-500">
            No data collected yet
          </td>
        </tbody>
      </table>
    </div>
  </div>
</div>
