<ng-container *ngIf="apiToken$ | withStatus | async as apiToken">
  <ng-container *ngIf="apiToken.value as token">
    <div [@fade] *ngIf="(isHidden$ | async) === false">
      <div
        *ngIf="projects$ | async as projects"
        class="absolute text-slate-700 w-60 shadow-md translate-y-4 bg-white dark:bg-[#0D0D0D] dark:text-[#D9E2F2] z-30 rounded-2xl overflow-hidden"
      >
        <div [@fadeNoExit] *ngIf="!projectCreationToggled">
          <div
            class="mt-4 text-xs leading-5"
            *ngIf="projects.projects.length === 0"
          >
            You need to create a project to start tracking your app data. The
            name of the project should match the name of your app. <br />
            <br />
            Create a project by clicking the button below to get started.
          </div>
          <div class="overflow-hidden border-slate-200 flex flex-col">
            <div *ngFor="let project of projects.projects">
              <div
                (click)="setNewProject(project)"
                class="flex flex-row items-center gap-4 p-4 w-full hover:bg-slate-100 cursor-pointer dark:hover:bg-zinc-800"
              >
                <div>{{ project.name }}</div>
              </div>
            </div>
          </div>
          <div
            (click)="toggleProjectCreation()"
            class="w-full text-xs uppercase hover:bg-indigo-800 hover:text-white cursor-pointer transition-all font-semibold py-3 flex flex-row items-center justify-center gap-x-2"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="w-4 h-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>

            Create a new project
          </div>
        </div>
        <div class="m-4" [@fadeNoExit] *ngIf="projectCreationToggled">
          <div
            class="font-semibold text-xs uppercase flex flex-row gap-x-2 items-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v12m6-6H6"
              />
            </svg>

            Create a new project
          </div>
          <input
            [formControl]="projectNameForm"
            class="w-full py-3 border rounded-lg px-8 mt-2 text-sm font-medium"
            placeholder="Project name"
            type="text"
          />
          <div
            class="grid grid-cols-2 gap-x-4 text-xs uppercase font-semibold mt-4"
          >
            <button
              (click)="toggleProjectCreation()"
              class="w-full rounded-lg border text-slate-800 hover:bg-indigo-50 transition-all hover:scale-105 hover:text-indigo-800 uppercase py-3 flex flex-row items-center gap-x-2 justify-center"
            >
              Cancel
            </button>
            <button
              (click)="createProjectClicked()"
              [disabled]="!projectNameForm.valid"
              class="w-full rounded-lg bg-indigo-800 hover:bg-indigo-900 hover:scale-105 transition-all disabled:!bg-slate-200 disabled:!text-slate-500 disabled:!scale-100 uppercase text-white py-3 flex flex-row items-center justify-center gap-x-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-4 h-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>

              Create
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="apiToken.loading">
    <div class="bg-red w-96 h-36">Loading...</div>
  </ng-container>
</ng-container>
